@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-hover {
  display: inline-block;
  cursor: pointer;
  transition: color 0.3s ease, transform 0.3s ease;
  color: #ffffff; 
}

.custom-hover:hover {
  color: theme('colors.pink.400');
  color: #f472b6;
}